
body {
font-family: 'Montserrat', sans-serif;
background-image: url("https://res.cloudinary.com/dz449ufvx/image/upload/c_scale,w_765/a_180/v1591943018/portfolio%20images/isaac-quesada-_oPb9mMQdek-unsplash_jex8vp.jpg");
background-size: cover;
background-repeat: no-repeat;
height: 100%;
}

html {
    scroll-behavior: smooth;
}
nav button span {
    display: block;
    height: 5px;
    background-color: teal;
    width: 30px;
    margin: 5px 0;
    transition: 250ms ease;
}

nav ul {
    display: none;
    background-color: yellowgreen;
    color: white;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 80;
    text-decoration: none;
}

nav {
    position: fixed;
    top: 0;
    left:20px;
}

nav button {
    background-color: transparent;
    position: relative;
    z-index: 10;
}
.open span {
    background-color: white;
}
.open span:nth-child(2) {
    display: none;

}
.open span:nth-child(3) {
    transform: translateY(-2px) rotate(35deg);
}
h1 {
    
    font-weight: 300;
    width: 0;
   
    font-size: 30px;
    color: white;
    margin-top: 50px;
    margin-left: 10px;
    
}
.junior {
    color: white;
    text-align: left;
    margin-bottom: 20px;
    margin-left: 10px;
}
p  {
    text-align: center;
    color: white;
    margin-top: 100px;
    
}
.content-container{
    
    display: flex;
    position: relative;
    margin-top: 100px;
    
   
    
}
.content-container > div {
    height: 100vh;
    flex-grow: 1;
    width: 33.33%;
    transition: width  250ms ease;
    overflow: hidden;
   
    position: relative;
    
    
    
}
.content-container > .contract {
    width: 10%;
    flex-grow: 0;
}
.content-container > .expand {
    flex-grow: 3;
    width: 100%;
    
}
.content-container > div > .content {
    opacity: 0;
            width: 100%;
            pointer-events: none;
            transition: opacity 250ms ease;
            height: 100vh;
            background-size: cover;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
}
.content-container > div:hover .content {
    opacity: 2;

}
div.expand .content {
    opacity: 2;
}
.Dev {
   
    
       
}
.Pro {
   
    
}
.Per {
      
}

.Dev .content {
   
}

.content {
    display: grid ;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 1fr 1fr;
}

.all-projects > p{
    grid-area: auto;
    overflow: hidden;
    background-color: black;
    
    

}
h2 {
   color: dodgerblue;
   font-size: 35px;
   

}

h3 {
    color:  rgb(25, 235, 42);
    font-size: 35px;
    
}

h4 {
   color: rgb(162,121,10);
   font-size: 35px;
   
   

}




h5 {
        margin-top: 200px;
        font-size: 45px;
        text-align: center;
        font-weight: 900;
        color: yellowgreen;
        font-family: 'Nanum Pen Script', cursive;
        
        
}
.nelson {
    color: white;
    text-decoration: wavy;
    text-align: right;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 25px;
    margin-right: 20px;
}
.learn {
    color: rgb(104,8,81);
    font-weight: 900;
}

h6 {
        font-size: 35px;
        font-weight: 900;
        text-align: center;
        margin-top: 100px;
        color: rgb(1,129,151);

}
h7 {
    text-align: center;
}

.contact-wrapper {
       
}

.bottom-img{
       
}
.fb {
    height: 100px;
 }
 .yt {
     height: 100px;
 
 }
 .wa {
  height: 100px;
 }
 .in {
 height: 100px;
 }
 .ig {
 height: 100px;
 }
 .chart {
   
 }
 #l-name {
    display: flex;
    height: 60px;
    text-align: center;
    border-radius: 16px;
    flex-direction: column;
    align-content: center;
    
   
 }
 
 #subject {
    display: flex;
    height: 90px;
    text-align: center;
    border-radius: 16px;
    flex-direction: column;
    
    
 }
 
 #submit {
    display: block;
    height: 60px;
    border-radius: 16px;
    flex-direction: column;
    
    
 }

@media only screen and (min-width: 768px) {
    .content-container {
            display: flex;
            flex-direction: row;
            width: 100%;
           
           
           
            
    }
    .content-container > div {
                height: 100vh;
                flex-grow: 1;
                width: 33.33%;
                transition: width 250ms ease;
                overflow: hidden;
                border: 10px solid black;
               
    }
    .content-container > .contract {
                width: 10%;
                flex-grow: 0;
    }
    .content-container > .expand {
                flex-grow: 2;
                width: 100%;
    }
    .content-container > div > .content {
                opacity: 0;
                width: 100%;
                pointer-events: none;
                transition: opacity 250ms ease;
                height: 100vh;
                background-size: cover;
     }
    .content-container > div:hover .content {
                opacity: 1;
    }
    div.expand .content {
                opacity: 1;
    }
    .Dev {
                
                background-color: turquoise;
                   
    }
    .Pro {
                
                background-color: yellowgreen;
    }
    .Per {
                  
                  background-color: violet;
    }
    .Dev  .content {
            background-image: url(https://res.cloudinary.com/dz449ufvx/image/upload/c_scale,w_399/v1591762651/portfolio%20images/AnthonyHeadshot_sd0slm.jpg);
    }
    .Pro .content {
            
    }
    .Per .content {
            
    }
            
     h1 {
                font-weight: 300;
                width: auto;
                text-align: center;
    }
    p  {
                text-align: center;
    }
            
    h2 {
               color:whitesmoke;
               width: auto;
               text-align: center;
              margin-top: 200px;
               font-family:  'Montserrat', sans-serif;
               font-weight: 600;
               
               
            
    }
            
     h3 {
                color:  whitesmoke;
                width: auto;
                text-align: center;
                margin-top: 200px;
                font-weight: 600;
            
     }
            
    h4 {
               color: whitesmoke;
               width: auto;
               text-align: center;
               margin-top: 200px;
               font-weight: 600;
               
            
    }
       
            
            
            
    h5 {
                    margin-top: 300px;
                    font-size: 45px;
                    text-align: center;
                    font-weight: 900;
                    font-family:  'Nanum Pen Script', cursive;;
                
                    
                    
    }
    h6 {
            font-size: 35px;
            font-weight: 500;

     }
    .contact-wrapper {
                    margin-top: 35px;
    }
            
    .bottom-img{
                    width: 50%;
    }

    
     


}
@media only screen and (min-width: 1024px) {
    header {
              float: right;
              margin-right: 20px;
              margin-bottom: 50px;
         
    }
    .content-container {
            display: flex;
            position: relative;
    }
          
    .content-container > div {
            height: 100vh;
            flex-grow: 1;
            width: 33.33%;
            transition: width  250ms ease;
            overflow: hidden;
            border: 10px solid black;
            position: relative;
            border-style: groove;
    }
          
          
    .content-container > .contract {
            width: 10%;
            flex-grow: 0;
    }
          
    .content-container >  .expand {
            flex-grow: 3;
            width: 100%;
            
    }
          
          
    .Dev {
            background-color: turquoise;
    }
          
    .content-container > div > .content {
            opacity: 0;
            width: 100%;
            pointer-events: none;
            transition: opacity 250ms ease;
            height: 100vh;
            background-size: cover;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
            
    }
    h2 {
              z-index: 2;
    }
    .content-container > div:hover .content {
            opacity: 1;
            
    }
    .content-container > div h2{
             
    }
          
    div.expand .content  {
            opacity: 1;
    }
    .content {
             
    }
          
          
    .Pro {
            background-color: yellowgreen;
            
    }
          
    .Per {
            background-color: violet;
    }
    .Dev .content {
            
            background-image: url(https://res.cloudinary.com/dz449ufvx/image/upload/c_scale,w_399/v1591762651/portfolio%20images/AnthonyHeadshot_sd0slm.jpg);
            margin-right: 25px;
    }
    .Pro .content {
            background-image: url(https://res.cloudinary.com/dz449ufvx/image/upload/v1591942597/portfolio%20images/se-nuno-SOOSddC_xLo-unsplash_h43maw.jpg);
        
    }
    .all-projects {
           
    }

          
    .Per .content {
            background-image: url(https://res.cloudinary.com/dz449ufvx/image/upload/v1591763358/portfolio%20images/TOur_wlgiit.jpg);
    }
    
   h3  {
        text-align: center;
        z-index: 2;
     
 }
 h5 {
     font-size: 55px;
 }

 h2 , h3 , h4 {
    transform: rotate(270deg);
 
}
 
 .learn {
     color: rgb(104,8,81);
     font-weight: 900;
 }
 
 .nelson {
    color: white;
    text-decoration: wavy;
    text-align: right;
    padding: 100px;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 30px;
    margin-right: 20px;
}
.icons {
   
   

}
.fb {
   
    height: 100px;
   grid-area: "fb";
}
.yt {
    
    height: 100px;
    grid-area:"yt";
}
.wa {
 height: 100px;
 grid-column-start: 3;
 grid-column-end: 3;
}
.in {
height: 100px;
}
.ig {

}

#f-name {
    display: flex;
    height: 60px;
    text-align: center;
    margin-right: 0;
    border-radius: 16px;
    
   
 }
 img {
     
 }
 #l-name {
    display: flex;
    height: 60px;
    text-align: center;
    border-radius: 16px;
    flex-direction: column;
    
   
 }
 
 #subject {
    display: flex;
    height: 90px;
    text-align: center;
    border-radius: 16px;
    flex-direction: column;
    
 }
 
 #submit {
    display: block;
    height: 60px;
    border-radius: 16px;
    flex-direction: column;
    
 }
 .media {
     display:grid;
     grid-template-columns: .5fr .5fr .5fr .5fr .5fr;
     grid-template-rows: 50% 50%;
 }
          
          
}